{% extends 'core/base.html'%}

{% block title %} {{job.title}} {% endblock %}

{% block content %}

<div class="grid grid-cols-5 gap-6">

    <div class="col-span-2">
        <img src="{{job.images.url}}">
    </div>
    <div class="col-span-3 p-6 bg-gray-100 rounded-xl" alt = "{{job.title}}">
        <h1 class="mb-6 text-4xl">{{job.title}}</h1>
        <p class="text-gray-500 mt-2"><strong> Client: </strong>{{job.client}}</p>
        <p class="text-gray-500 mt-2"><strong> Progress: </strong>{{job.get_job_progress_display}}</p>
        <p class="text-gray-500 mt-2"><strong> Job Risk: </strong>{{job.get_job_risk_display}}</p>
        <p class="text-gray-500 mt-2"><strong> Location: </strong>{{job.location}}</p>
        <p class="text-gray-500 mt-2"><strong> System: </strong>{{job.system}}</p>
        <p class="text-gray-500 mt-2"><strong> Employees: </strong> 
        {% for employee in employees%}

        <li><a href="{% url 'employees:detail' employee.id%}">{{employee.name}}</a></li>
          
        {% endfor %}
        
        <p class="text-gray-500 mt-2"><strong> Start Date: </strong>{{job.start_date}}</p>

    <div class = "">
                  
             
                <div>
                    <a href="#" >
                        <div class="cols-span-2 p-6 bg-white rounded-b-xl">
                            <h2> Batteries in Use</h2>
                            {% for battery in batteries %}
                            
                                <p>
                                <li>
                                   {{ battery}}</p>
                                </li>
                                </p>
                            {% endfor %}                     
                        </div>
                    </a>
                </div>
                <div>
                    <a href="#" >
                        <div class="cols-span-2 p-6 bg-white rounded-b-xl">
                            <h2> Panels in Use</h2>
                            {% for panel in panels %}
                            
                                <p>
                                <li>
                                   {{ panel}}</p>
                                </li>
                                </p>
                            {% endfor %}                     
                        </div>
                    </a>
                </div>
                <div>
                    <a href="#" >
                        <div class="cols-span-2 p-6 bg-white rounded-b-xl">
                            <h2> Inverters in Use</h2>
                            {% for inverter in inverters %}
                            
                                <p>
                                <li>
                                   {{ inverter}}</p>
                                </li>
                                </p>
                            {% endfor %}                     
                        </div>
                    </a>
                </div>
            
        </div>
        <p class="text-gray-500 pt-6"><strong> Total : $</strong>{{job.amount}}</p>
        <div class="mt-10">
            <a href="{% url 'jobs:update_job' job.id%}"
            class="px-3 py-2 text-white no-underline bg-emerald-700 rounded hover:bg-emerald-500 text-sm ">Update Job</a>
          </div>

          <div class=" mt-10 ">
            <a href="{% url 'jobs:delete_job' job.id %}"  class="px-3 py-2 text-white no-underline bg-red-700 rounded hover:bg-red-500 text-sm"> Delete</a>
           </div> 
    </div>
    
</div>

{% endblock %} 