{% extends 'core/base.html'%}

{% block title %} {{inventory.get_stock_type_display}} {% endblock %}

{% block content %}

<div class="grid grid-cols-5 gap-6">

    <div class="col-span-2">
        <img src="#">
    </div>
    <div class="col-span-3 p-6 bg-gray-100 rounded-xl" alt = "{{job.title}}">
        <h1 class="mb-6 text-4xl">{{inventory.get_stock_type_display}}</h1>
        <p class="text-gray-500 mt-2"><strong> Stock Type: </strong>{{inventory.get_stock_type_display}}</p>
        <p class="text-gray-500 mt-2"><strong> Stock Status: </strong>{{inventory.get_stock_status_display}}</p>
        <p class="text-gray-500 mt-2"><strong> Brand: </strong>{{inventory.brand}}</p>
        <p class="text-gray-500 mt-2"><strong> Barcode: </strong>{{inventory.barcode}}</p>
        <p class="text-gray-500 mt-2"><strong> Cost: </strong>{{inventory.cost}}</p>
        <p class="text-gray-500 mt-2"><strong> Location: </strong>{{inventory.location}}</p>
      

        <div class="mt-10">
            <a href="{% url 'inventory:update_inventory' inventory.id%}"
            class="px-3 py-2 text-white no-underline bg-emerald-700 rounded hover:bg-emerald-500 text-sm ">Update Inventory</a>
          </div>

          <div class="mt-10">
            <a href="{% url 'inventory:delete_inventory' inventory.id%}"
            class="px-3 py-2 text-white no-underline bg-red-700 rounded hover:bg-red-500 text-sm ">Delete Inventory</a>
          </div>
    </div>
    
</div>

{% endblock %} 