{% extends 'core/base.html' %}
{% load tailwind_filters %}

{% block content %}

<div class="mb-10 grid-cols-2">
<h1 class="text-white text-3xl text-center" >Inventory List</h1>
</div>

<div class="my-8 px-6 py-12  bg-emerald-700 rounded-xl">
  <h2 class = "my-8 text-2xl text-center font-bold text-white">INVENTORY SUMMARY</h2>

  <div class = "grid grid-cols-3 gap3">
      
          <div>
             <a href="" >
                  <div class="p-3 mx-2 bg-white rounded-xl hover:bg-slate-100">
                      <h2 class = "text-2xl font-semibold">Panels</h2>
                      <p class="text-gray-600">{{panel_count}} panels</p>
                      
                  </div>
              </a>
          </div>

          <div>
              <a href="" >
                   <div class="p-3 mx-2 bg-white rounded-xl hover:bg-slate-100">
                       <h2 class = "text-2xl font-semibold">Inverters</h2>
                       <p class="text-gray-600">{{inverter_count}} inverters</p>
                      
                   </div>
               </a>
           </div>

           <div>
              <a href="" >
                   <div class="p-3 mx-2 bg-white rounded-xl hover:bg-slate-100">
                       <h2 class = "text-2xl font-semibold">Batteries</h2>
                       <p class="text-gray-600">{{battery_count}} batteries</p>
                       
                   </div>
               </a>
           </div>
</div>

<div class="mt-10 grid-cols-2 text-center">
  <a href="{% url 'inventory:create_inventory' %}" class="px-6 py-3 text-black no-underline bg-white rounded hover:bg-emerald-400  ">Add new Inventory</a>
</div>
<div class="mx-auto w-4/12 bg-yellow-400 p-7 my-10 col-3">
<form method="GET" action ="">
  {{ form|crispy }}
<button type="submit" class="mt-5 text-white bg-red-700 hover:bg-red-800 focus:outline-none focus:ring-4 focus:ring-red-300 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900">Search</button></td>
</form>
</div>

<div class="relative overflow-x-auto">
    <table class=" table w-full text-md text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-sm text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
  
    <tr>
      <th scope="col" class="px-6 py-3">Inventory Type</th>
      <th scope="col" class="px-6 py-3">Inventory Status</th>
      <th scope="col" class="px-6 py-3">Barcode</th>
      <th scope="col" class="px-6 py-3">View Stock</th>
      <th scope="col" class="px-6 py-3">Remove</th>
    </tr>
    {% for inventory in inventory %}
    <tr class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700">
      <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
      
      {{ inventory.get_stock_type_display}}</th>
      <td>{{inventory.get_stock_status_display}}</td>
      <td>{{inventory.barcode }}</td>
      <td> 
        <form action="{% url 'inventory:inventory' inventory.id %}" method="get">
        <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">View</button>
        </form>
        </td>
      <td>
        <div >
       <a href="{% url 'inventory:delete_inventory' inventory.id %}" class="px-3 py-2 text-white no-underline bg-red-700 rounded hover:bg-red-500 text-sm"> Delete</a>
      </div> 
      </td>
      
    </tr>
    {% endfor %}
    
  </table>
</div>
  
{% endblock %}